<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/favicon.jpg" type="image/jpg" sizes="16x16">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    
    <div class="main">
        {{content}}
        <p>If you are really want to know, we will answer you!</p>
    </div>
    
    <img src={{imgSrc}} alt="profile"/>

    {{>footer}}
</body>
</html>